<h1>
    <%= @candidate.name %>
</h1>

<ul>
    <li>age:
        <%=@candidate.age %>
    </li>
    <li>party:
        <%=@candidate.party %>
    </li>
    <li>politics:
        <%=@candidate.politics %>
    </li>
</ul>