<% if @candidate %>

    <h1>
        <%= @candidate.name %>
            <!--有輸出值才需要加等號-->
    </h1>

    <ul>
        <li>age:
            <%= @candidate.age %>
        </li>
        <li>party:
            <%= @candidate.party %>
        </li>
        <li>politics:
            <%= @candidate.politics %>
        </li>
    </ul>
    <% else %>

        <h1>No Record Found !</h1>

        <% end %>